/* Body */
body{
    background-color: #E6EBF1; 
}

/* Navbar */
.navbar-brand{
    color: white;
    margin-left: 30px;
    padding: inherit;
}

.navbar-collapse{
    margin-right: 30px;
    padding: inherit;
}

/* Table */
.table{
    background-color: white;
}

/* Media Queries */
@media (max-width: 400px) {
    .navbar li {
        padding:10px;
    }
    .navbar ul {
        visibility: hidden;
    }
    #nav-select {
        visibility: visible;
    }
}
